.footer {
  background-color: var(--green);
}

.footer_inner {
  display: flex;
  flex-direction: column;
  padding-block: 40px;
}

.footer_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #5d5d5f;
  padding-bottom: 40px;
}

.footer_top_logo {
  display: flex;
  align-items: center;
  gap: 80px;
}

.footer_top_col {
  display: flex;
  flex-direction: column;
  gap: 18px;
  color: var(--white);
}

.footer_top_col a,
.footer_nav_title {
  font-family: var(--neue-medium), var(--inter), sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: currentColor;
  transition: 0.3s;
}

.join_tg {
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--white);
  transition: 0.4s;
}

.join_tg:hover,
.footer_top_col a:hover,
.footer_nav_container a:hover,
.social_media a {
  color: var(--gold);
  transition: 0.4s;
}

.join_tg svg,
.social_media svg {
  width: 28px;
  height: 28px;
}

.footer_bottom {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  gap: 80px;
  color: var(--white);
}

.footer_nav {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  justify-content: space-between;
}

.footer_nav > div:first-child {
  max-width: 660px;
  width: 100%;
}

.footer_nav > div:last-child {
  max-width: 300px;
  width: 100%;
}

.footer_nav_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--white);
}

.footer_nav_div {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer_nav_div_inner {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.social_media {
  display: flex;
  align-items: center;
  gap: 40px;
  color: var(--white);
}

.social_media a {
  color: var(--white);
  transition: 0.3s;
}

.ndc {
  color: var(--white);
}

.ndc:hover {
  text-decoration: underline !important;
}

@media (max-width: 1800px) {
  .footer_nav > div:first-child {
    max-width: 500px;
  }
  .footer_nav_title,
  .footer_top_col a,
  .footer_nav_title {
    font-size: 20px;
    line-height: 24px;
  }
}

@media (max-width: 1200px) {
  .footer_nav > div {
    width: 100%;
  }
  .footer_nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .footer_nav > div:first-child,
  .footer_nav > div:last-child {
    max-width: unset;
  }
}

@media (max-width: 880px) {
  .footer_top_logo {
    gap: 24px;
  }
  .footer_nav {
    grid-template-columns: 1fr;
    gap: 56px;
  }
  .footer_nav_div,
  .footer_nav_container,
  .footer_top_col,
  .footer_nav_div_inner {
    align-items: center;
    justify-content: center;
  }
  .footer_bottom {
    gap: 56px;
  }
  .footer_bottom > p,
  .footer_nav_container > p {
    text-align: center;
  }
}

@media (max-width: 580px) {
  .footer_top {
    justify-content: center;
    padding-bottom: 0px;
    border-bottom: none;
  }
  .join_tg,
  .footer_top_col {
    display: none;
  }
  .footer_bottom {
    padding-top: 40px;
  }
}
