.blogs_swiper {
  margin-top: 24px;
}

.blog {
  padding: 24px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.blog:hover img {
  transform: scale(1.1);
  transition: 0.3s;
}

.blog:hover .blog_title {
  color: var(--gold);
  transition: 0.3s;
}

.blog_content {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.blog_date {
  font-family: var(--neue-regular), var(--inter), sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: #9a999b;
}

.blog_title {
  font-family: var(--neue-regular), var(--inter), sans-serif;
  font-size: 24px;
  line-height: 30px;
  color: var(--black);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.3s;
}

.blog_img {
  position: relative;
  width: 100%;
  height: 240px;
  overflow: hidden;
}

.blog_img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}

@media (max-width: 1800px) {
  .blog {
    padding: 16px;
    gap: 16px;
  }
  .blog_date {
    font-size: 16px;
    line-height: 24px;
  }
  .blog_title {
    font-size: 18px;
    line-height: 27px;
  }
}

@media (max-width: 1200px) {
  .blog_img {
    height: 200px;
  }
}

@media (max-width: 880px) {
  .blog_content {
    gap: 12px;
  }
  .blog_date {
    font-size: 12px;
    line-height: 16px;
  }
  .blog_title {
    font-size: 16px;
    line-height: 20px;
  }
  .blog_img {
    height: 220px;
  }
}

@media (max-width: 580px) {
  .blog {
    padding: 12px;
  }
  .blog_content {
    gap: 8px;
  }
}

@media (max-width: 400px) {
  .blog_img {
    height: 160px;
  }
}
