.footer {
  background-color: #180e10;
  color: var(--white);
  margin-top: 0px;
}

.footer_inner {
  padding-top: 30px;
  padding-bottom: 40px;
  padding-inline: 0px;
  display: flex;
  flex-direction: column;
  gap: 120px;
  border-inline: 1px solid var(--grayscale);
  border-block: none;
}

.footer_top {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  align-items: baseline;
  padding-inline: 24px;
}

.footer_inner_first {
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: var(--white);
  max-width: 580px;
  width: 100%;
}

.footer_inner_div {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer_inner_container {
  display: flex;
  gap: 130px;
}

.footer_inner_title {
  font-family: var(--inter), sans-serif;
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  color: var(--white);
}

.footer_nav {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer_nav a {
  font-family: var(--inter), sans-serif;
  font-size: 18px;
  line-height: 27px;
  color: var(--white);
  transition: 0.3s;
}

.footer_nav a:hover,
.extra_inner_nav a:hover {
  color: var(--gold);
  transition: 0.3s;
}

.extra_inner_div {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.extra_inner_div svg {
  width: 18px;
  height: 18px;
  margin-top: 6px;
}

.extra_inner_nav {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.extra_inner_nav a,
.extra_inner_nav p {
  font-family: var(--neue-medium), var(--inter), sans-serif;
  font-size: 18px;
  line-height: 32px;
  color: var(--white);
  transition: 0.3s;
  max-width: 310px;
  width: 100%;
}

.social_media {
  display: flex;
  align-items: center;
  gap: 38px;
}

.sm_icon {
  width: 28px;
  height: 28px;
  color: var(--white);
  transition: 0.3s;
}

.sm_icon:hover {
  color: var(--gold);
  transition: 0.3s;
}

.footer_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--grayscale);
  padding-top: 40px;
  padding-inline: 24px;
}

.ndc a {
  transition: 0.3s;
  cursor: pointer;
  color: var(--white);
}

.ndc a:hover {
  text-decoration: underline !important;
  color: var(--white) !important;
  transition: 0.3s;
}
